.center {
    background:url(/assets/imgs/pexels-bongkarn-thanyakij-3740708.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}