<p-card header="Notes" [style]="style">
  <p-accordion>
    <p-accordionTab header="Header I" [selected]="true">
      <ng-container *ngTemplateOutlet='listitem'></ng-container>
    </p-accordionTab>
    <p-accordionTab header="Header II">
      <ng-container *ngTemplateOutlet='listitem'></ng-container>
    </p-accordionTab>
    <p-accordionTab header="Header III">
      <ng-container *ngTemplateOutlet='listitem'></ng-container>
    </p-accordionTab>
</p-accordion>
</p-card>

<ng-template #listitem>
  <div class='list-item'>
    <div>title</div>
    <p>content</p>
  </div>
</ng-template>